
@import url(https://fonts.googleapis.com/css?family=Montserrat:wght@100;200;300;400;500;600;700;800;900display=swap);

* {

    font-family: 'Montserrat';

}

body {

    margin: 0 auto;

}

/* tete de page */

header.header { 
    
    display: flex;
    align-items: center;
    background-color: black;

}

header.header img {

    width: 9em;
}

section.top-page {
    background: url("../medias/couplimovies_bg.jpg");
    background-size: cover;
    height: 80vh;
    padding: 1px;


}

.top-page {

    backdrop-filter: opacity(50%);
}


/* Landing page */

.landing-page {

    display: flex;
    flex-wrap: wrap;
    

}


.big-title {

    display: flex;
    flex-direction: row;
    justify-content:center;
    color: white;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.651);

    


}

.scroll-down {

    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    padding: 20px 50px;
}


/* Menu de navigation */

nav.nav {

    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 230px;
    margin-left: 2em;
    flex-wrap: wrap;
    
}

nav.nav li {

    color: white;

}

nav.co {

    color: white
}

nav.co {

    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 1em;
}

.nav {

    font-size: 0.9em;
}

.accueil{

    color: rgb(255, 255, 255);
    text-decoration: none;
}

.films {

    color: white;
    text-decoration: none;
}

.recherche {

    color:white;
    text-decoration: none;
}

.seconnecter {

    color:white;
    text-decoration: none;
    font-size: 0.9em;
}

/* services */

@media screen and (max-width: 500px) {

   .services-items {

    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;

 
}
}

.services {
    display: flex;
    justify-content: space-evenly;
    margin: 3em;
    margin-top: 4em;
    flex-wrap: wrap;

}

.service-item {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.delivery-icon {
    font-size: 50px;
    color:rgb(0, 0, 71);
}

.service-p {

    font-weight: bold;
    width: 200px;
    text-align: center;

}

/*  Recommandations */


    

.recommandation {

min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
padding: 2em;
}

.box {

    margin: 4em 1.5em;
    text-align: center;
    position: relative;
}

.box-header {

    width: 21em;
    height: 29em;
    background: url(../medias/Affiches_films/image_film_mrjones.jpg);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.shadow-box {

    filter: drop-shadow(0 1em 1em rgba(5, 5, 0.5, 0.5));
}

.envie {

    background: rgb(0, 0, 71);
    width: 3em;
    height: 2em;
    position: absolute;
    top: -2em;
    left: 15%;
    transform: translate(-50%);
    padding: 1em 1.2em 1.2em 1.2em;
    border-radius: 20%;
    color: beige;
    z-index: 1;

}

.envie {

    font-size: 0.9em;
    font-weight: bold;

}

.envie small { 

    font-weight: bold;
}



.encart1 {

  
    
}

.encart1 p {

    

}

.box-body {

    
    width: 20em;
    height: 8em;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin-top: 1em;
    padding-top: 1em;
    padding-left: em;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    
    


}

.box-body h2 {

    font-weight: bold;
    margin: 0, 0, 0, 0;
    margin-top: 1px;
    

}

.box-body p {

    font-weight: bold;
}

.box ul {

    font-weight: bold;
    list-style: none;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 10px;

}







/* footer */

.copyright {

    color: white;

}

.cgv {
    

    color: rgb(255, 255, 255);
    text-decoration: none;
    

}

footer {
    
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 5em;
    align-items: center;
    margin: 5px 5px;
    padding: 2em, 2em, 2em, 2em;
    font-weight: 600;

}

