h1 {


}

p {


}

h1 + p {

    font-size: 200%;
}


.special {

    color: orange;
    font-weight: bold;

}

a:link { 

    color:red
}

a:visited {

    color: black
}

a:hover {

    color:blue
}